#body {
    text-align: center;
    position: absolute;
    width:100%;
    background-color: rgb(24, 232, 83)
    }
    
    .forms {
       
        align-items: center;
        position:auto;
        display:flex;
       justify-content: center;
       width:400px;
        height: 400px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgba(0, 0, 0, 0.3);
       margin-left:38% ;
       margin-top:10% ;
    }
    
    body{
        width: 100%;
        height: 100%;
        background-color: #292929;
    }
    
    .form{
        width: 150px;
        margin: 350px auto;
        text-align: center;
        align-items: center;
    }
    
    .input{
        display: block;
        width: 250px;
        height: 100px;
    }
    
    .teste input[type=text] {
    width: 100%;
    padding-left: 10px;
    height: 25px;
    line-height: 20px;
    color: #71D623;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    border-color: #3333;
    }
    .teste input[type=password] {
        width: 100%;
        padding-left: 10px;
        height: 25px;
        line-height: 20px;
        color: #333;
        font-size: 15px;
        border-radius: 15px;
        border: 1px solid #333;
        border-color: #333;
    }
    
    .rodape input[type="submit"] {
     color: rgb(0, 0, 0); 
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #71D623;
    color: #fff;
    height: 30px;
    width: 55px;
    border-color: #3333;
    }
    
    .tit {
      color: #fff;
      font-size: 25px;
      align-items: center;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #imgposlog { /*IMAGEM CIMA LOGO*/
        position:fixed;
        left: 51%;
        top:2%;
        margin-left:-90px;
        margin-top:20   px;
        }

        .apple{
            position:inherit;
            margin-left:70px;
            margin-top:-60px;
       
        }

        