*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

.logo{
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a{
    color: #ffffff;
    font-weight: 700;
    transition: 0.3s;
}

.cabeçalho-link a:hover{
    color: #71D623;
}

.cabeçalho-icsl{
    left: -50px;
    height: auto;
    position: sticky;

}

.video{
 width: 100;
}